SECRET_KEY =

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

TELEGRAM_BOT_TOKEN=

CACHE_ENABLED=True
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

CORS_ALLOW_ALL_ORIGINS = False

CELERY_BROKER_URL =
CELERY_RESULT_BACKEND =
CELERY_TIMEZONE = TIME_ZONE
CELERY_TASK_TRACK_STARTED = True
CELERY_TASK_TIME_LIMIT =